<ion-header>
  <ion-toolbar>
    <ion-title>faq</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">

        <ion-tab-button tab="about">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="syllabus">
          <ion-icon name="laptop"></ion-icon>
          <ion-label>Syllabus</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="faq">
          <ion-icon name="clipboard"></ion-icon>
          <ion-label>FAQ</ion-label>
        </ion-tab-button>


      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
