<ion-header>
  <div *ngIf="this.platform.width()>540px">
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col size-xs = "12" size-sm = "12" size-md="12" size-lg ="6.5" size-xl = "6.5">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button menu="userList"></ion-menu-button>
            </ion-buttons>
            <ion-buttons slot="start" style="margin-right:10%; margin-left: 1%">
              <a routerLink="/index" style="text-decoration:none">
                <h1 style="padding-bottom:10px">Coursera</h1>
              </a>
            </ion-buttons>
          </ion-toolbar>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="this.platform.width()<540px">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="userList"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="start" style="margin-right:2%">
        <a routerLink="/index" style="text-decoration:none">
          <h1 style="padding-bottom:10px">Coursera</h1>
        </a>
      </ion-buttons>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div *ngIf="this.platform.width()>540px"id="course">
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col size-xs = "12" size-sm = "12" size-md="12" size-lg ="7" size-xl = "7">
          <h1 style="font-size:300% ;color:white;padding-left:3%">{{ this.course | async | getvalue: 'name' | uppercase }}</h1>
          <ion-button (click)="subscribe()" float-right style="padding-right:5%" size="large">{{this.text}}</ion-button>
          <h1 style="color:white;padding-left:3%">{{ this.course | async | getvalue: 'branch' }}</h1>
          <p style="color:white;padding-left:3%">Uploader : {{ this.course | async | getvalue: 'uploader' }}</p>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="this.platform.width()<540px" id="course">
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
        <ion-col size-xs = "12" size-sm = "12" size-md="12" size-lg ="7" size-xl = "7">
          <h1 style="color:white;padding-left:3%">{{ this.course | async | getvalue: 'name' | uppercase }}</h1>
          <ion-button (click)="subscribe()" float-right style="padding-right:5%" size="large">{{this.text}}</ion-button>
          <h5 style="color:white;padding-left:3%">{{ this.course | async | getvalue: 'branch' }}</h5>
          <p style="color:white;padding-left:3%">Uploader : {{ this.course | async | getvalue: 'uploader' }}</p>
        </ion-col>
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col size-xs = "12" size-sm = "12" size-md="12" size-lg ="7" size-xl = "7">
        <div class="line"></div>
        <h1 style="font-size: 150%; font-weight: bold">About this course</h1>
        <p>{{ this.course | async | getvalue: 'info' | slice: 0:slice}}</p>
        <a href="javascript:;" (click)="switchslice()">{{ this.text2 }}</a>
        <div class="line"></div>
        <h1 style="font-size: 150%; font-weight: bold">What you'll learn</h1>
        <ul>
          <li>Lorem</li>
          <li>Ipsum</li>
          <li>Dolor</li>
          <li>sit</li>
          <li>Amet</li>
        </ul>
        <div class="line"></div>
        <h1 style="font-size: 150%; font-weight: bold">Meet Your Instructor</h1>
        <h1>{{ this.uploader | async | getvalue: 'name' }}</h1>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
      </ion-col>
        <ion-button style="height: 50px" color="light">
          <div>
            <ion-icon name="information-circle" style="font-size:200%"></ion-icon>
            <br>
            <ion-label>About</ion-label>
          </div>
        </ion-button>
        <div class="divider"></div>
        <ion-button style="height: 50px" color="light"[routerLink]="'/syllabus/'+this.router.url.slice(8)">
          <div>
            <ion-icon name="book" style="font-size:200%"></ion-icon>
            <br>
            <ion-label>Syllabus</ion-label>
          </div>
        </ion-button>
        <div class="divider"></div>
        <ion-button style="height: 50px" color="light" [routerLink]="'/faq/'+this.router.url.slice(8)">
          <div>
            <ion-icon name="clipboard" style="font-size:200%"></ion-icon>
            <br>
            <ion-label>FAQ</ion-label>
          </div>
        </ion-button>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
